body { 
  background-color: rgb(50,50,50);
  color: white;
}

button {
  cursor: pointer;
  color: black;
  display: inline-block;
  border: none;
  background-color: rgb(220,220,220);
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: rgb(200,200,200);
}

button:active {
  background-color: rgb(150,150,150);
}