html {
  --main-color: rgb(230, 100, 101);
  --secondary-color: rgb(145, 152, 229);
  --light-grey: rgb(220,220,220);
  --medium-grey: rgb(200,200,200);
  --dark-grey: rgb(150,150,150);
  --darker-grey: rgb(50,50,50);

  --margin: 50px;

  --direction: to bottom right;

  height: 100%;
  background: linear-gradient(var(--direction), var(--main-color), var(--secondary-color));
}

body { 
  background-color: var(--darker-grey);
  color: white;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 0 10px;
  position: absolute;
}

#root {
  height: 100%;
  overflow: auto;
}

.app {
  background-color: var(--darker-grey);
}

button {
  cursor: pointer;
  color: black;
  display: inline-block;
  border: none;
  background-color: var(--main-color);
  padding: 10px;
  margin: 10px;
}

button:hover, button:focus {
  background-color: var(--secondary-color);
}

button:active {
  background-color: var(--light-grey);
}

button:disabled {
  background-color: var(--dark-grey);
}

button:disabled {
  cursor: not-allowed;
}

input, select {
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  background-color: inherit;
  color: white;
}

input:active, input:focus, select:active, select:focus {
  color: black;
  background-color: var(--light-grey);
  border: 2px solid var(--secondary-color);
}

a {
  color: var(--main-color);
}